



.c-loader {
  animation: is-rotating 1s infinite;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: #28a745;
  height: 50px;
  width: 50px;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;

}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}